.Browse {
    width: 100vw;
    height: 100vh;
    /* COMP 22C-5 */
    background-image: url('../../assets/back.jpg'); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.browse-bottom {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-main-container {
    width: 80%;
    margin-top: 40px;
    background-color: #c6b38e;
    border-radius: 5px;
    
}

.browse-book-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.browse-book-card {
    text-decoration: none;
    color: black;
    border: thin solid black;
}

/* COMP 22C */
.browse-book h1 + h1{
    border: 1px solid red;
}

